Config (
    window_width:  1024,
    window_height: 1024,
    window_name:   "Huh",
    draw_outlines: true,
    world_file: "./world",

    // colours
    wall_colour:    "FFFFFF",
    player_colour:  "FF0000",
    empty_colour:   "000000",
    outline_colour: "0000FF"
)