Config (
    window_width:  1024,
    window_height: 1024,
    window_name:   "Huh",
    draw_outlines: true,
    world_file:    "./world",
    default_time:  200.0,
    debug:         true, // SERIOUSLY effects performance
    profile:       true,
    log_file:      "./rib.log",

    // colours
    gui_text_colour: "FFFFFF",
    gui_colour:      "eb5757",
    timer_colour:    "FFFFFF",
    wall_colour:     "FFFFFF",
    player_colour:   "FF0000",
    empty_colour:    "000000",
    enemy_colour:    "00FF00",
    outline_colour:  "0000FF"
)